<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-principal">
        <aside class="menu">
            <div id="logo"></div>
            <div></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            
        </aside>
        <div class="container-content">
            <header class="name-local">
                
            </header>
            
            <section class="content">
                
                <div class="info">

                     <div class="user-Info" id="userInfo">
                         <div class="iconeImagem">

                         </div>
                        <p>
                            <span>
                                {{name}} {{matricula}}
                            </span> 
                        </p>
                        
                     </div>
                    
                    {{{body}}}


                </div>
                
            </section>
            <footer class="rodape">
                
                
            </footer>
        </div>
    </div>
    
    
    <script src="/scripts/views/UserView.js"></script>
    <script src="/scripts/controllers/UserController.js"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>