<div class="container-principal">
        <div class="info">

        </div>
        <div class="container-secundario">
            <div class="logo">
                <p>logo</p>
                <h1> Nome Do Site</h1>
            </div>
            <form action="/user" method="POST">
                <label >Usuario</label>
                <input type="text" name="textUsuario" id="textUsuario">
                <label >Senha</label>
                <input type="password" name="senhaUsuario" id="senhaUsuario">
                <input type="submit" value="logar" class="btn-log">
            </form>

        </div>
    </div>