<div class="contaier-folha">

    <div class="menu-contracheque">
        <form action="">
            <input type="button" value="paycheck">
            <input type="button" value="impressPaycheck">
        </form>
    </div>

</div>