<div class="contaier-folha">

    <div class="menu-contracheque">
        <form action="">
            <input type="button" value="paycheck">
            <input type="button" value="impressPaycheck">
        </form>
        
    </div>
    <div class="container-check">
        <div class="buttonImpress">

        </div>
        <div class="contentCheck">
            <p>
                Contracheques
            </p>
            <table>
                <tr>
                    <th>Dia</th>
                    <th>Descrição</th>
                    <th>Data de Credito</th>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
            </table>
        </div>
         

    </div>
           

    
</div>