*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    
}


.container-principal{

    display: flex;
    height: 100vh;
    width: 100vw;
   

    flex-direction: row;
   
}

.container-principal > .menu{
    min-width:60px;
    width: 5vw;
    height: 100vh;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    
}




.menu >div{
    height: 10vh;
    
    
   
    

}
#logo{
    border-bottom: 1px;
    border-style: groove;

}


.container-principal > .menu:hover{
    width: 15vw;
    
    background-color: rgb(63, 63, 63);

}

.container-principal > .container-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 240, 240, 0.945);
    
    min-width: 600px;
}

.container-content > .name-local{
    background-color: whitesmoke;
    height: 10vh;
    border-bottom: 1px;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    
}

.container-content > .content{
    height: 85vh;
    

    padding: 0 5vh ;
   

}

.content > .info{
    height: 85vh;
   
    display: flex;
    flex-direction: column;
    min-width: 470px;
    

}
.rodape{
    margin-top: 5vh;
    height: 5vh;
    
    padding: 1vh;
}

@media (max-width:600px){
    .container-principal > .menu{
        display: none;
    }
    
    
}


.user-Info{
    margin-top: 10vh;
    height: 20vh;
    
}


.user-Cont{
    margin-top: 5vh;
    height: 17vh;
}
.user-Info,.user-Cont,.contaier-folha{
    

    border: 1px;
    border-radius: 5px;
    border-color: rgb(212, 210, 210);
    border-style: solid;
    background-color: whitesmoke;

    min-width: 540px;
    
    

}

.contaier-folha{
    display: flex;
    flex-direction: column;
    
}
.contaier-folha > .menu-contracheque{
    height: 55vh;
    width: 20vw;
    
    border-right: 1px;
    border-color: rgb(212, 210, 210);
    border-style: solid;
    
}

.menu-contracheque >form{
    display: flex;
    flex-direction: column;
}

.menu-contracheque >form >[type="button"]{
    height: 6vh;
    border: 0.5px;
    border-color: rgb(212, 210, 210);
    border-style: solid;
}

[type="button"]:hover{
    background-color: rgb(131, 187, 240);
}